 #css {
    width: 300px;
    height: 300px;
    background-color: lightblue;
    color: white;
    text-align: center;
    line-height: 300px;
    border-radius: 10px;
    transition: 0.4s; 
}


/* #text2 {
    width: 300px;
    background-color: rgb(134, 136, 32);
    color: white;
    text-align: center;
    line-height: 300px;
    border-radius: 10px;
    transition: 0.4s;
}


#text1 {
    width: 300px;
    height: 300px;
    background-color: rgb(37, 156, 77);
    color: white;
    text-align: center;
    line-height: 300px;
    border-radius: 10px;
    transition: 0.4s;
}
 */ 
